/* Full screen background image */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZmFybXxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;       /* image full screen ho jaye */
  background-position: center; 
  font-family: Arial, sans-serif;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* navbar ke niche center */
}
/* Login card style */
.auth-card {
  background: rgba(255, 255, 255, 0.9); /* thoda transparent white */
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;

}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.auth-card button:hover {
  background: darkgreen;
}

.auth-card a {
  color: green;
  text-decoration: none;
}

.auth-card a:hover {
  text-decoration: underline;
}


