

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?w=1200&auto=format&fit=crop&q=60');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

/* 🔥 PERFECT CENTER FIX */
.farm-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

/* ===== REGISTRATION CARD ===== */
.auth-card {
  width: 350px;
  background: rgba(255, 255, 255, 0.9); /* thoda transparent white */
  margin-top: 35px;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;
}

/* Heading */
.auth-card h2 {
  margin-bottom: 20px;
  color: #2e7d32;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.auth-card button:hover {
  background: darkgreen;
}



/* Links */
.auth-card a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.auth-card a:hover {
  text-decoration: underline;
}

/* Message */
#message {
  font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
  .auth-card {
    width: 90%;
    padding: 25px;
  }
}
